{
    "message": [
        "盛り上がってるチャンネルにはろーわーるど",
        "#general 名ばかりのじぇねらる",
        "#dark 雑談チャンネル",
        "#isucon いいかんじにすぴーどあっぷこんてすとチャンネル",
        "#mokumoku もくもく会の日程が流れるチャンネル",
        "#kaeritai 帰りたくなったら入るチャンネル",
        "#hikari 光の戦士",
        "#cat 猫が見たくなったら入るチャンネル",
        "#job ジョブ",
        "#anime アニメについての何かが流れるチャンネル",
        "#twitter @ngineerxiv のツイート関連が流れ続けるチャンネル",
        "#blog みんなブログ書こう http://hatenablog.com/g/8454420450083360105 "
    ]
}
