<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DarkGame</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/game/css/footer.css" type="text/css" charset="utf-8">
    <script src="https://fb.me/react-15.2.1.min.js"></script>
    <script src="https://fb.me/react-dom-15.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script type="text/babel" src="/game/js/bitness.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Bitness ranking</h1>
            </div>
            <div>
                <a class="btn btn-primary" href="/game/">ステータス一覧</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="darkgame" class="col-md-12"></div>
        </div>
    </div>

    <footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright &copy; 2016 Dark. All Rights Reserved.</p>
    </div>
    </footer>
</body>
</html>
